In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ruta_archivo = '../DataSets/european_leagues_player_stats/Big5-statsStats22-23.csv'

df = pd.read_csv(ruta_archivo, delimiter=',')

# Obtener información sobre el conjunto de datos
df.info()

# Calcular estadísticas descriptivas
df.describe()

# Ver las primeras filas del dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2889 entries, 0 to 2888
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      2889 non-null   object
 1   Nation      2885 non-null   object
 2   Pos         2889 non-null   object
 3   Squad       2889 non-null   object
 4   Comp        2889 non-null   object
 5   Age         2889 non-null   int64
 6   Born        2889 non-null   int64
 7   MP          2889 non-null   int64
 8   Starts      2889 non-null   int64
 9   Min         2889 non-null   object
 10  90s         2889 non-null   float64
 11  Gls         2889 non-null   int64
 12  Ast         2889 non-null   int64
 13  G+A         2889 non-null   int64
 14  G-PK        2889 non-null   int64
 15  PK          2889 non-null   int64
 16  PKatt       2889 non-null   int64
 17  CrdY        2889 non-null   int64
 18  CrdR        2889 non-null   int64
 19  xG          2872 non-null   float64
 20  npxG        2872 non-null   float64
 21  xAG         2872 non-null   float64
 22  npxG+xAG    2872 non-null   float64
 23  PrgC        2872 non-null   float64
 24  PrgP        2872 non-null   float64
 25  PrgR        2872 non-null   float64
 26  Gls.1       2889 non-null   float64
 27  Ast.1       2889 non-null   float64
 28  G+A.1       2889 non-null   float64
 29  G-PK.1      2889 non-null   float64
 30  G+A-PK      2889 non-null   float64
 31  xG.1        2872 non-null   float64
 32  xAG.1       2872 non-null   float64
 33  xG+xAG      2872 non-null   float64
 34  npxG.1      2872 non-null   float64
 35  npxG+xAG.1  2872 non-null   float64
dtypes: float64(18), int64(12), object(6)
memory usage: 812.7+ KB

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,"2,372",...,0.04,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31
1,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,173,...,0.00,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11
2,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,63,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,"3,330",...,0.03,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09

#### Cambiar Valores
    
        David Ozoh:     Nation: 'eng ENG'


#### Borrar Filas
        
        Eliminar las filas con Nation = NaN
        
        Eliminar las filas con xG = NaN

In [7]:
# Cambiar el valor del player David Ozoh y columna "Nation"
df.loc[2010, 'Nation'] = 'en ENG'

# Mostrar solo la fila 1875 del DataFrame
fila_2010 = df.iloc[2010:2013]
print(fila_2010)

                Player  Nation Pos           Squad                Comp  Age  \
2010        David Ozoh  en ENG  FW  Crystal Palace  eng Premier League   17
2011    Levin Öztunalı  de GER  MF    Union Berlin       de Bundesliga   26
2012  Fernando Pacheco  es ESP  GK         Almería          es La Liga   30

      Born  MP  Starts Min  ...  Gls.1  Ast.1  G+A.1  G-PK.1  G+A-PK  xG.1  \
2010  2005   1       0   1  ...    0.0    0.0    0.0     0.0     0.0   0.0
2011  1996   2       0   9  ...    0.0   10.0   10.0     0.0    10.0   0.0
2012  1992   1       1  90  ...    0.0    0.0    0.0     0.0     0.0   0.0

      xAG.1  xG+xAG  npxG.1  npxG+xAG.1
2010   0.00    0.00     0.0        0.00
2011   1.91    1.91     0.0        1.91
2012   0.00    0.00     0.0        0.00

[3 rows x 36 columns]

In [8]:
# Eliminar las filas con variable Nation = NaN
df = df.dropna(subset=['Nation'])

# Eliminar las filas con variable xG = NaN
df = df.dropna(subset=['xG'])

# Obtener información sobre el conjunto de datos
df.info()

# Calcular estadísticas descriptivas
df.describe()

# Ver las primeras filas del dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2872 entries, 0 to 2885
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Player      2872 non-null   object
 1   Nation      2872 non-null   object
 2   Pos         2872 non-null   object
 3   Squad       2872 non-null   object
 4   Comp        2872 non-null   object
 5   Age         2872 non-null   int64
 6   Born        2872 non-null   int64
 7   MP          2872 non-null   int64
 8   Starts      2872 non-null   int64
 9   Min         2872 non-null   object
 10  90s         2872 non-null   float64
 11  Gls         2872 non-null   int64
 12  Ast         2872 non-null   int64
 13  G+A         2872 non-null   int64
 14  G-PK        2872 non-null   int64
 15  PK          2872 non-null   int64
 16  PKatt       2872 non-null   int64
 17  CrdY        2872 non-null   int64
 18  CrdR        2872 non-null   int64
 19  xG          2872 non-null   float64
 20  npxG        2872 non-null   float64
 21  xAG         2872 non-null   float64
 22  npxG+xAG    2872 non-null   float64
 23  PrgC        2872 non-null   float64
 24  PrgP        2872 non-null   float64
 25  PrgR        2872 non-null   float64
 26  Gls.1       2872 non-null   float64
 27  Ast.1       2872 non-null   float64
 28  G+A.1       2872 non-null   float64
 29  G-PK.1      2872 non-null   float64
 30  G+A-PK      2872 non-null   float64
 31  xG.1        2872 non-null   float64
 32  xAG.1       2872 non-null   float64
 33  xG+xAG      2872 non-null   float64
 34  npxG.1      2872 non-null   float64
 35  npxG+xAG.1  2872 non-null   float64
dtypes: float64(18), int64(12), object(6)
memory usage: 830.2+ KB

,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,Min,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,"2,372",...,0.04,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31
1,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,173,...,0.00,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11
2,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,63,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,"3,330",...,0.03,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09

## Guardar los datos en un archivo nuevo CSV

In [9]:
df.to_csv("../DataSets/european_leagues_player_stats/Big5-statsStats22-23_Corr.csv")

## Extraer los datos de nuevo archivo

In [10]:
ruta_archivo = '../DataSets/european_leagues_player_stats/Big5-statsStats22-23_Corr.csv'

df = pd.read_csv(ruta_archivo, delimiter=',')

# Obtener información sobre el conjunto de datos
df.info()

# Calcular estadísticas descriptivas
df.describe()

# Ver las primeras filas del dataset
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2872 entries, 0 to 2871
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2872 non-null   int64
 1   Player      2872 non-null   object
 2   Nation      2872 non-null   object
 3   Pos         2872 non-null   object
 4   Squad       2872 non-null   object
 5   Comp        2872 non-null   object
 6   Age         2872 non-null   int64
 7   Born        2872 non-null   int64
 8   MP          2872 non-null   int64
 9   Starts      2872 non-null   int64
 10  Min         2872 non-null   object
 11  90s         2872 non-null   float64
 12  Gls         2872 non-null   int64
 13  Ast         2872 non-null   int64
 14  G+A         2872 non-null   int64
 15  G-PK        2872 non-null   int64
 16  PK          2872 non-null   int64
 17  PKatt       2872 non-null   int64
 18  CrdY        2872 non-null   int64
 19  CrdR        2872 non-null   int64
 20  xG          2872 non-null   float64
 21  npxG        2872 non-null   float64
 22  xAG         2872 non-null   float64
 23  npxG+xAG    2872 non-null   float64
 24  PrgC        2872 non-null   float64
 25  PrgP        2872 non-null   float64
 26  PrgR        2872 non-null   float64
 27  Gls.1       2872 non-null   float64
 28  Ast.1       2872 non-null   float64
 29  G+A.1       2872 non-null   float64
 30  G-PK.1      2872 non-null   float64
 31  G+A-PK      2872 non-null   float64
 32  xG.1        2872 non-null   float64
 33  xAG.1       2872 non-null   float64
 34  xG+xAG      2872 non-null   float64
 35  npxG.1      2872 non-null   float64
 36  npxG+xAG.1  2872 non-null   float64
dtypes: float64(18), int64(13), object(6)
memory usage: 830.3+ KB

,Unnamed: 0,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Gls.1,Ast.1,G+A.1,G-PK.1,G+A-PK,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
0,0,Brenden Aaronson,us USA,"MF,FW",Leeds United,eng Premier League,21,2000,36,28,...,0.04,0.11,0.15,0.04,0.15,0.15,0.16,0.31,0.15,0.31
1,1,Paxten Aaronson,us USA,"MF,DF",Eint Frankfurt,de Bundesliga,18,2003,7,0,...,0.00,0.00,0.00,0.00,0.00,0.09,0.03,0.11,0.09,0.11
2,2,James Abankwah,ie IRL,DF,Udinese,it Serie A,18,2004,2,1,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
3,3,George Abbott,eng ENG,MF,Tottenham,eng Premier League,16,2005,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,4,Yunis Abdelhamid,ma MAR,DF,Reims,fr Ligue 1,34,1987,37,37,...,0.03,0.05,0.08,0.03,0.08,0.06,0.03,0.09,0.06,0.09